* {
    box-sizing: border-box;
}

div section {
    margin: 20px;
    padding: 10px 20px 20px 20px;
}

#chicken {
    background-color: #e7d2c2;
}

#beef {
    background-color: #e1c3b8;
}

#sushi {
    background-color: #c4cfb8;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 40px;
}